{
    "all": true,
    "include": [
      "src/**/*.js"
    ],
    "exclude": [
      "spec/**/*.spec.js",
      "examples/**/*.js"
    ],
    "reporter": ["html","lcov","text"],
    "report-dir": "coverage"
}
